<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="pauseButton" disabled>Pause</button>
            <button id="stopButton" disabled>Stop</button>
        </div>

        <div>

        </div>

        <div id="mfccOperation">
            <button id="btnSend">SendJson</button>
            <button id="btnLoad">LoadJson</button>
        </div>
      
        <script src="{% static "app/scripts/recorder.js" %}"></script>

        <script src="{% static "app/scripts/meyda.js" %}"></script>
        <script src="{% static "app/scripts/dynamic-time-warping.js" %}"></script>
        <script src="{% static "app/scripts/jquery.js" %}"></script>

        <script src="{% static "app/scripts/utils.js" %}"></script>

        <script src="{% static "app/scripts/recognition/recognize.js" %}"></script>

        <script src="{% static "app/scripts/wildemitter.js" %}"></script>
        <script src="{% static "app/scripts/hark.js" %}"></script>
        <script src="{% static "app/scripts/app.js" %}"></script>

        <script src="{% static "app/scripts/recognition/recognizerApp.js" %}"></script>

        <script src="{% static "app/scripts/dictToJson.js" %}"></script>

    </body>
</html>